@font-face {
  font-family: 'TeXGyreAdventor';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/TeXGyreAdventor-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
  font-family: TeXGyreAdventor, Calibri, Helvetica, sans-serif;
  font-size: large;
  color: #111;
  background-image: linear-gradient(to right bottom, #FFF, #F9F9F9, #EEE);
  background-size: cover;
  background-position: bottom;
  background-repeat: repeat-x;
  background-attachment: fixed;
  min-height: 100vh;
}

.content, header, footer {
  padding: .5rem;
}

header {
  background-color: #FFF;
}


footer {
  background-image: linear-gradient(to right, #F9F9F9, #EEE);
}

a {
  color: #18B;
  text-decoration: none;
  font-weight: bold;
}

p, li {
  line-height: 1.7rem;
}

h1, h2, h3, h4, h5 {
  color: #000;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

h1 {
  color: #000;
  font-weight: bolder;
  font-size: xx-large;
  margin-top: .5rem;
}

h2 {
  color: #000;
  font-weight: bold;
  font-size: large;
}

nav {
  color: #000;
}

nav li a {
  color: #000;
  text-decoration: none;
}

nav li.active a {
  font-weight: bolder;
}

nav li.inactive {
  color: #888;
}

.main {
  min-height: 85vh;
  opacity: 0.9;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 1rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid #18B;
  /* background: linear-gradient(#FFF, #F6F9FF); */
}

header .title {
  color: #000;
}

footer {
  position: sticky;
  bottom: -1px;
  padding-top: .5rem;
  padding-bottom: 1rem;
  border-top: 2px solid #18B;
  /* background: linear-gradient(#F6F9FF, #FFF); */
}

nav li {
  display: inline-block;
  text-align: justify;
  vertical-align: middle;
}

.half {
  vertical-align: top;
}

.half.right {
  text-align: right;
}

.half a {
  color: black;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  margin-left: 1rem;
}

.half a span {
  display: none;
}

.divider {
  border-bottom: 1px solid #18B;
}

.resume-list {
  margin-left: 1rem;
  list-style-image: url('/images/dot.svg');
}

.mail i {
  color: black;
}

.whatsapp i {
  color: #25D366;
}

.linkedin i {
  color: #0077B5;
}

.gitlab i {
  color: #FC6D26;
}

.github i {
  color: black;
}
