@media screen and (min-width:481px) {
  header, footer {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .main {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  header .title {
    display: inline-block;
    min-width: 18rem;
  }

  header nav {
    display: inline-block;
    padding-top: 3.5rem;
  }

  nav ul {
    display: block;
    text-align: right;
  }

  nav li {
    margin-left: 3rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }
}
