html {
  height: 100vh;
}

body {
  font-family: Calibri, Helvetica, sans-serif;
  color: #111;
  max-height: 100vh;
  min-height: 100vh;
  background-image: url('images/leeds_skyline_bw.png');
  background-position: bottom;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

h1 {
  font-weight: bolder;
  font-size: larger;
}

nav {
  color: #18B;
}

.content, header, footer {
  background-color: #FFF;
  padding: .5rem;
}

.main {
  min-height: 85vh;
  opacity: 0.9;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 1rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid #18B;
}

header .title {
  color: #18B;
}

footer {
  position: sticky;
  bottom: -1px;
  padding-top: .5rem;
  padding-bottom: 1rem;
  border-top: 2px solid #18B;
}

nav ul {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
}

nav li {
  display: inline-block;
  text-align: justify;
  vertical-align: middle;
}

.half {
  vertical-align: top;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
}

.half a {
  color: black;
  display: inline-block;
  margin: auto;
  text-decoration: none;
}

.half a span {
  display: none;
}

.mail i {
  color: black;
}

.whatsapp i {
  color: #25D366;
}

.linkedin i {
  color: #0077B5;
}

.gitlab i {
  color: #FC6D26;
}

.github i {
  color: black;
}
