@media screen and (max-width:480px) {
  header, footer, .content {
    margin: 0;
    width: 100%;
  }

  .main {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  header .title {
    display: block;
    margin-bottom: 1rem;
  }

  header nav {
    display: block;
  }

  .half {
    padding-top: .5rem;
  }
}
